*{
    margin: 0px;
    padding: 0px;
}
/* nav bar related style */
.menu-container{
    display: flex;
    gap: 15px;
}
.menus-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(143, 123, 123);
    padding: 20px ;
}
nav li{
    list-style: none;
}
/* banner related style */
.banner-section{
    height: 100vh;
  background-image: url('../asset/image/background.jpg'),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
 align-items: center;
 /* ai jaygay padding kno use krte holo */
 padding-left: 300px;
  
}
.primary{
    color: red;
}
.banner-title{
    font-size: 80px;
    font-weight: bolder;
    color: white;
}
.banner-description{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: 20px;

}
.btn{
    padding: 15px 20px;
    border: none;

}
.bg-primary{
    background-color: red;
}